# MOS

一個用於在 MacOS 上平滑你的滑鼠滾動效果或單獨設定滾動方向的小工具，讓你的滾輪爽如觸控板。

A lightweight tool used to smooth scrolling and set scroll direction independently for your mouse on MacOS.

- [Repo](https://github.com/Caldis/Mos)

## My mouses

- Logitech M590
- ThinkPad KU-1255

## Advance

- Dash Key: disable
- Toggle Key: disable
- Block Key: Shift

- Step: 20.00
- Speed: 3.0
- Duration: 3.00
